#heading_a{color:lightblue;font-size:30px;text-align:left;}
#bgcolor{background-color:maroon;}
#heading_b{color:white;background-color:darkred;}
#div1{background-color:darkblue;color:white;text-align:center;border-radius:5px;}
#input1{height:30px;background-color:slateblue;color:white;font-weight:bold;font-size:15px;border-radius:5px;}
#table1{}
#button1{}
#td1{width:100%;text-align:left;}
#td2{width:100%;text-align:right;}
#td3{color:white;}
#td4{text-align:right;}
a{text-decoration:none;}
#head{font-size:20px;}
#heading_c{color:white;text-align:center;font-size:60px;}
.testbutton {
  font-family: arial;
  color: #14396a !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866a3;
  background: #63b8ee;
  background: linear-gradient(top,  #63b8ee,  #468ccf);
  background: -ms-linear-gradient(top,  #63b8ee,  #468ccf);
  background: -webkit-gradient(linear, left top, left bottom, from(#63b8ee), to(#468ccf));
  background: -moz-linear-gradient(top,  #63b8ee,  #468ccf);
}
.testbutton:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(top,  #468ccf,  #63b8ee);
  background: -ms-linear-gradient(top,  #468ccf,  #63b8ee);
  background: -webkit-gradient(linear, left top, left bottom, from(#468ccf), to(#63b8ee));
  background: -moz-linear-gradient(top,  #468ccf,  #63b8ee);
}